body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.AddStudents {
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
}

.backButton {
  display: inline-block;
  text-decoration: none;
  padding: 8px 12px;
  margin-bottom: 20px;
  color: #333;
  background-color: #ddd;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.backButton:hover {
  background-color: #ccc;
}

h1 {
  color: #333;
}

.formS {
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
